header {
    max-width:960px;
    margin-right:auto;
    margin-left:auto;
    
    a {
        font-weight:700;
        font-size:45px;
        font-family:arial, sans-serif;
        
        &:hover {
            text-decoration:underline;
        }
    }

    h3 {
        color:#999999;
        font-weight:300;
        font-size:13px;
        font-family:Arial, sans-serif;
    }

    .header-text-wrap {
        padding: 40px 0;
    }

    .navi-bar {
        width:auto;
        margin-bottom:42px;
        background-color: #dbdbdb;
        padding-left:1em;
            
        li{
            display:inline-block;
            padding:1em 1em 1em 0; 
        }
    }

}