header {
    
    
    a {
        font-weight:700;
        font-size:45px;
        font-family:arial, sans-serif;
        
        :hover {
            text-decoration:underline;
        }
    }

    h3 {
        color:#999999;
        font-weight:300;
        font-size:13px;
        font-family:Arial, sans-serif;
        
    }
}

.header-text-wrap {
    padding: 40px 0 40px 1em;
}

ul {
    padding-left: 1em;
    width:auto;
    
    li{
        display:inline-block;
        padding:1em;
        
    }
}