.page-index {

    .page-content {
        max-width:960px;
        margin: 0 auto;
    }

    .body-wrapper {
        max-width: 625px;
    }

    .istock-wrap {
        max-width:600px;
        display:block;
        margin: 0 auto 5px auto;
        border: 1px $color-1 solid;
        padding:1em;

        p {
            font-size: 12px;
            text-align:center;
        }
    }

    .about-author {
        width:100%;
        border:solid 1px $color-1;
        padding:1em;
        margin-bottom:40px;

        .author-avatar {
            display:block;
            height:80px;
            width:80px;
            float:left;
            background-image: url("/images/avatar.png");
            margin-right: 5px;
            border-radius:50%;
        }

        .about-right-content {
            float:right;
            width: calc(100% - 95px);
        }

        h4 {
            font-size:16px;
            margin-bottom:0.4em;
        }

        p {
            line-height: 25px;
            font-size: 13px;
        }

        a {
            font-size: 13px;
        }
    }

    .writing-spell {
        font-size: 0.9em;
        color: #888;
    }

    .sidebar {
        width:300px;
    }
}